.entity-value-inheritance-list-builder-form {
  display: flex;
  flex-wrap: wrap;
}

.entity-value-inheritance-list-builder-form .form-item {
  display: block;
  max-width: 100%;
  margin-block: var(--space-s) 0;
  margin-inline: 0 var(--space-xs);
  margin-top: 0;
  margin-right: 1.5em;
}

.entity-value-inheritance-list-builder-form .button {
  margin-top: 1.5em;
}
